.endowork{
    display: flex;
    align-items: center;
    justify-content: center;
 padding: 35px;;
}
.endoworktext{
    width: 80%; ;

}
@media  screen and (max-width:768px) {
    .endowork{
        padding: 15px;;
    }
    .endoworktext{
        width: 90;
    }
}